body {
    background-image: url(/images/back.jpg);
    width: 100%;
    height: 100%;
    margin: 0;
}
body div{
    width: 924px;
    margin: auto;
    background-color: #ffffdf;
}

/*------------------------*/
/*slider------------------*/
/*------------------------*/

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.slider {
    margin: 25px auto;
    height: 350px;
    
}

.slider img {
    display: table-cell;
    margin-left: auto;
    margin-right: auto;
    height: 320px;
    z-index: 0;
}

.slider > input{
    display: none;
}
.slider div{
    width: 188px;
    margin: 0 auto;
}

.slider label {
	cursor: pointer;
	display: inline-block;
	height: 10px;
	margin: 25px 9px 0 9px;
	width: 10px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
    background-color: #e4b778;
    box-shadow: inset 0px 2px 3px 0px rgba(51, 27, 2, 0.75);
}
.slider #checked {
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin: 25px 9px 0 9px;
    width: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: #7c5a48;
    border: 1px solid #a98a64;
}
.slider label:after {
	border: 2px solid #ddd;
	content: " ";
	display: block;
	height: 12px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 12px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}


/*------------------------*/
/*personal----------------*/
/*------------------------*/

.personal {
    position: relative;
    margin-top: 51px;
    background-image: url(/images/ornament.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    width: 884px;
    height: 280px;
}
.personal div {
    text-align: justify;
    font-size: 16px;
    font-family: Arial;
    float: left;
    margin: 0;
    width: 372px;
}
.personal h1{
    font-family: GaramondC;
    font-weight: bold;
    font-size: 24px;
    margin: -10px 0 10px 0;
    background: -moz-linear-gradient(top, #000 0%, #5e3625 48%, #82451c 100%);
    background: -webkit-linear-gradient(top, #000 0%,#5e3625 48%,#82451c 100%);
    background: linear-gradient(top bottom, #000 0%,#5e3625 48%,#82451c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #000;
}
.personalHeader h1{
    margin: 0 0 35px 0;
    text-align: center;
    font-size: 25px;
    font-family: "Book Antiqua";
}

.personal p,
personalContent{
    font-family: Arial;
    line-height: 1.2;
    font-size: 14px;
    margin: 0px;
}

.personal .buttonMore {
    width: 120px;
    text-align: center;
    position: absolute;
    margin: 0;
    bottom: 18px;
}
.personal .personalLeft .buttonMore {
    right: 292px;
}
.personal .personalRight .buttonMore {
    left: 292px;
}

.personalLeft img{
    margin: 0 0 10px 10px;
    float: right;
}
.personal .personalLeft{
    margin: 30px 30px 0 40px;
}
.personalRight h1{
    margin-left: 210px;
}
.personalRight img{
    margin: -15px 10px 10px 0;
    float: left;
}
.personal .personalRight{
    margin: 30px 40px 0 30px;
}

/*------------------------*/
/*screens-----------------*/
/*------------------------*/

.images {
    margin: 50px auto 0 auto;
    width: 880px;
    height: 240px;
}
.images div
{
    margin-left: 13px;
    margin-right: 13px;
    border-style: solid;
    border-width: 1px;
    border-color: #a08357;
    background-color: #fff;
    text-align: center;
    width: 182px;
    height: 187px;
    float: left;
}
.images div:first-child{
    margin-left: 25px;
}
.images div:last-child{
    margin-right: 25px;
}
.images div img{
    max-height: 187px;
    max-width: 170px; 
    height: 187px;
}

/*------------------------*/
/*Content-----------------*/
/*------------------------*/

.content, .personalContent{
    width: 880px;
    margin: 0 auto 0 auto;
    text-align: justify;
    padding-bottom: 130px;
}

.content h1 {
    font-size: 24px;
    font-family: Arial;
}

.content p, .personalContent p{
    margin: 20px auto;
    font-size: 14px;
    font-family: "Arial";
    line-height: 1.2;
}


/*------------------------*/
/*Form pickUp-------------*/
/*------------------------*/


.pickUp {
    position: relative;
    height: 107px;
}

.pickUp img {
    position: absolute;
    left: 835px;
    top: -13px;
}
.pickUp img:first-child {
    left: 18px;
}

.pickUp div{
    background-color: #eeeed3;
    border: 1px solid #c6baa3;
    width: 860px;
    height: 105px;
    margin: 0 32px 0 32px;
    float: left;
}
.pickUp div div{
    border: 0;
    width: 140px;
    height: 24px;    
    margin: 0 15px 0 23px;
}


.pickUp .show{
    width: 202px;
    margin: 26px 25px auto 20px;
}
.pickUp .show select {
    width: 202px;
}

.pickUp .year{
    width: 325px;
    margin: 14px 23px auto 25px;
}
.pickUp .year div {
    margin-bottom: 8px;
    height: 34px;
    width: 100%;
}
.pickUp .year div:first-child {
    margin-left: 50px;
    width: 90%;
}


.pickUp label{
    margin: 0px 8px 0px 8px;
    font-size: 18px;
    font-family: "Verdana";
}

.pickUp input {
    font-size: 18px;
    font-family: Verdana;
    width: 40px;
    height: 32px;
}
.pickUp .buttonPickUp {
    margin: 40px 0 0 0;
    width: 140px;
    height: 24px;
}

/*-----------------------*/
/*table------------------*/
/*-----------------------*/
.table {
    margin: 30px 0 25px 0;
}

.table table{
    color: #fff;
    border-collapse: collapse;
    margin: 0 auto 0 auto;
    width: 880px;
    text-align: center;
    font-size: 15px;
}

.table tr th{
    color: #fff;
    border: 1px solid #e9c06b;
    background-color: #814b04;
    height: 28px;
    font-family: Arial;
}
.table tr 
{
    color: #654f3d;
    height: 30px;
    font-family: Verdana;
}

.table tr td:first-child{
    color: #000;
    text-align: left;
    padding-left: 4px;
}

.table tr:nth-child(2n) {
    background-color: #fff;
}
.table tr:nth-child(2n+1) td,
.table tr:nth-child(2n) {
    border: 1px solid #d3a86c;
}
.table tr:nth-child(2n+1) td:first-child{
    border-left-style: none;
}
.table tr:nth-child(2n+1) td:last-child {
    border-right-style: none;
}