
/*------------------------*/
/*Footer------------------*/
/*------------------------*/

.footer {
    width: inherit;
    background-image: -moz-linear-gradient( 90deg, rgb(173,139,99) 0%, rgb(78,44,30) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(173,139,99) 0%, rgb(78,44,30) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(173,139,99) 0%, rgb(78,44,30) 100%);
}

.footer ul{
    display: inline-table;
    margin: 0;
    padding: 0;
    width: inherit;
    height: 43px;
    background-image: -moz-linear-gradient( 90deg, rgb(78,44,30) 0%, rgb(78,44,30) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(78,44,30) 0%, rgb(78,44,30) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(78,44,30) 0%, rgb(78,44,30) 100%);
    box-shadow: 0px 1px 1px 0px rgba(17, 17, 26, 0.86);
}

.footer ul li{
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: inherit;
    padding-left: 38px;
    padding-right: 38px;
    color: #fff;
    font-size: 11px;
    font-family: Arial;
}

.footer div {
    margin: 0px 22px;
    width: 908px;
    height: 45px;
    font-size: 19px;
    font-family: "GaramondC";
    color: #fff;
    background: none;
}

.footer div div {
    padding-left: 16px; 
    display: table-cell;
    text-align: justify;
    vertical-align: middle;
    margin-left: 22px;
    width: 440px;
    height: inherit;
    
    
}
.footer li.footerLine {
    width: 1px;
    padding: 0;
}
.footer .copyright {
    padding-left: 80px;
    font-size: 10.317px;
    font-family: "Tahoma";
    position: relative;
}
.footer .copyright img{
    position: absolute;
    bottom: 7px;
    right: 10px;
}