/*------------------------*/
/*Header------------------*/
/*------------------------*/

.logo img{
    position: absolute;
    top: 15px;
    left: 50%;
    margin-left: -120px;
    z-index: 2;
}
.logoWrite img{
    position: absolute;
    top: 8px;
    left: 50%;
    margin-left: -142px;
}


.header{
    background-color: #4e2b1d;
    width: 924px;
    height: 80px;
    display: block;
    position: relative;
}

.header ul {
    width: inherit;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    display: table;
}

.header ul li{
    display: inline;
    float: left;
    text-align: center;
    margin: 4px;
}

.header .right {
    font-family: Book Antiqua;
    font-size: 16pt;
    float: right;
    width: 173px;
    margin: 8px 19px 0px 0;
    position: relative;
}

.header p{
    margin: 19px 19px 0 19px;
    padding: 0;
    color:  #fff;
    font-family: BookAntiqua;
    font-size: 26px;
}

.right a{
    text-decoration: none;
    height: 24px;
    display: block;
    margin-bottom: 8px;
}

.right a div{
    clear: left;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color:  #d8c992;
    background-color: #ff0;
    background: #faedc7; /* Old browsers */
    background: -moz-linear-gradient(top, #faedc7 0%, #eacf8f 13%, #e8c478 58%, #fff9e0 96%, #fff9e0 100%);
    background: -webkit-linear-gradient(top, #faedc7 0%,#eacf8f 13%,#e8c478 58%,#fff9e0 96%,#fff9e0 100%);
    background: linear-gradient(to bottom, #faedc7 0%,#eacf8f 13%,#e8c478 58%,#fff9e0 96%,#fff9e0 100%);
    width: 171px;
    height: 23px;
    color:  #472800;
    font-family: BookAntiqua;
    font-size: 16px;
    font-weight: 400; 
}

.header a:focus .buttonApp,
.header a:focus .buttonRes
{
    border-color:  #ab6e17;
    background: #77470b; /* Old browsers */
    background: -moz-linear-gradient(top, #77470b 0%, #d39538 73%, #f5dcb9 96%, #fff9e0 100%);
    background: -webkit-linear-gradient(top, #77470b 0%,#d39538 73%,#f5dcb9 96%,#fff9e0 100%);
    background: linear-gradient(to bottom, #77470b 0%,#d39538 73%,#f5dcb9 96%,#fff9e0 100%);
    color: #fff;    
    
}
/*-----------------------*/
/*form------------------*/
/*-----------------------*/

.formApp,
.formRes {
    background-color: #f7f0da;
    border: 1px solid #d39d48;
    display: none;
    position: absolute;
    top: 30px;
    left: -86%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Verdana;
    width: 320px;
    height: 336px;
    z-index: 2;
}

.formRes {
    height: 290px;
    top: 62px;
}

.formApp input,
.formRes input {
    border: 1px solid #cd8e31;
    margin-top: 12px;
    width: 298px;
    height: 28px;
    padding-left: 10px;
}

.formApp select,
.formRes select,
.show label select {
    border: 1px solid #cd8e31;
    margin-top: 12px;
    padding-left: 10px;
    width: 300px;
    height: 30px;
}
.formApp textarea {
    border: 1px solid #cd8e31;
    margin-top: 12px;
    margin-left: 1px;
    padding-left: 10px;
    width: 300px;
    height: 72px;
    resize: none;
}
.formApp .button,
.formRes .button,
.personal .buttonMore,
.buttonPickUp{
    margin-top: 30px;
    border-radius: 5px;
    border: 1px solid rgb(171, 110, 23);
    color: #fff;
    background-image: -moz-linear-gradient( 90deg, rgb(250,237,199) 0%, rgb(119,71,11) 0%, rgb(211,149,56) 73%, rgb(245,220,185) 96%, rgb(255,249,224) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(250,237,199) 0%, rgb(119,71,11) 0%, rgb(211,149,56) 73%, rgb(245,220,185) 96%, rgb(255,249,224) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(250,237,199) 0%, rgb(119,71,11) 0%, rgb(211,149,56) 73%, rgb(245,220,185) 96%, rgb(255,249,224) 100%);
    font-size: 14px;
    font-family: Verdana;
    width: 140px;
    height: 24px;
}

.formApp .button:hover,
.formRes .button:hover,
.personal .buttonMore:hover,
.buttonPickUp:hover {
    color: #000;
    border: 1px solid rgb(199, 168, 101);
    background-image: -moz-linear-gradient( 90deg, rgb(250,237,199) 0%, rgb(234,207,143) 13%, rgb(232,196,120) 58%, rgb(255,249,224) 96%, rgb(255,249,224) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(250,237,199) 0%, rgb(234,207,143) 13%, rgb(232,196,120) 58%, rgb(255,249,224) 96%, rgb(255,249,224) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(250,237,199) 0%, rgb(234,207,143) 13%, rgb(232,196,120) 58%, rgb(255,249,224) 96%, rgb(255,249,224) 100%);
}


.right a .formRes .file {
    background-image: none;
    background-color: #fff;
    border: 1px solid #cd8e31;
    border-radius: 0px;
    position: relative;
    overflow: hidden;
    width: 298px;
    height: 30px;
    margin-top: 12px;
    text-align: left;
    padding-top: 3px;
    padding-left: 10px;
}

.formRes .file input{
    position: absolute;
    transform: scale(2);
    opacity: 0;
}

/*-----------------------------------TODO js*/
.header a:focus .formApp,
.header .formApp:hover,
.header .formApp:focus,
.header a:focus .formRes,
.header .formRes:hover,
.header .formRes:focus{
    display: block;
}

/*------------------------*/
/*menu--------------------*/
/*------------------------*/

.nav{
    height: 20px;
}

.nav div{
    background-color: #4e2b1d;
    display: inline;
    margin: 0;
    width: 348px;
    height: inherit;
    float: left;
}

.nav div ul{
    height: 38px;
    width: inherit;
    float: left;
}
.nav .rightNav{
    float: right;
}
.nav .rightNav ul li{
    float: right;
}

.nav div ul li{
    border: 1px;
    border-color: #000;
    position: relative;
    border-style: outset hidden outset hidden;
    vertical-align: middle;
    float: left;
    background-image: -moz-linear-gradient( 90deg, rgb(164,103,31) 0%, rgb(131,76,11) 14%, rgb(119,71,11) 25%, rgb(176,120,43) 55%, rgb(233,192,135) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(164,103,31) 0%, rgb(131,76,11) 14%, rgb(119,71,11) 25%, rgb(176,120,43) 55%, rgb(233,192,135) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(164,103,31) 0%, rgb(131,76,11) 14%, rgb(119,71,11) 25%, rgb(176,120,43) 55%, rgb(233,192,135) 100%);
    box-shadow: 0px 1px 0px 0px rgba(126, 79, 19, 0.004);
    height: inherit;
    width: 116px;
    margin: 0;
    z-index: 1;
}
.radius {
    border-radius: 5px 0 0 5px;
}

.radius2 {
    border-radius: 0 5px 5px 0;
}

.nav .insertLine{
    left: 0%;
    position: absolute;
    background-image: url(/images/navLine.png);
    width: 1px;
    height: 36px;
    z-index: 3;
}
.nav a {
    display: table;
    width: 100%;
    height: 100%;
    color: #fff;
    font-family: Verdana;
    font-size: 11pt;
    text-decoration: none;
}
.nav a span {
    display: table-cell;
    border-collapse: collapse;
    width: inherit;
    height: inherit;
    vertical-align: middle;
}

.nav div ul li:hover {
    background: #faedc7; /* Old browsers */
    background: -moz-linear-gradient(top, #faedc7 0%, #eacf8f 13%, #e8c478 58%, #fff9e0 96%, #fff9e0 100%);
    background: -webkit-linear-gradient(top, #faedc7 0%,#eacf8f 13%,#e8c478 58%,#fff9e0 96%,#fff9e0 100%);
    background: linear-gradient(to bottom, #faedc7 0%,#eacf8f 13%,#e8c478 58%,#fff9e0 96%,#fff9e0 100%);
}

.nav div ul li:hover a{
    color: #000;
}


.nav .subMenu{
    border: 1px solid #bfa485;
    display: none;
    width: 192px;
    height: 152px;
}
.nav .subMenu li{
    text-align: left;
    background-image: none;
    background-color: #fcebc6;
    border: 0px;
    width: 100%;
}
.nav .subMenu li a span{
    padding-left: 10px;
}
.nav .subMenu li a:hover{
    background-color: #d8af75;
}
.nav ul li:hover > .subMenu {
    display: block;
}