.Фигура_18_копия_2 {
  border-radius: 50%;
  background-color: rgba(78, 44, 30, 0);
  box-shadow: inset 0px 2px 3px 0px rgba(51, 27, 2, 0.75);
  position: absolute;
  left: 711px;
  top: 443px;
  width: 13px;
  height: 13px;
  z-index: 76;
}
